<div class="hero-unit">
  <div class="container">
    <h2>Фотогалерея</h2>
  </div>
</div>
<div class="container clearfix" id="main-content">

  <div class="thumb-gallery row-fluid">
    <%= render 'refinery/portfolio/items/items', :items => @items %>
    <%= render 'galleries', :galleries => @galleries %>
    <% content_for :stylesheets, stylesheet_link_tag('portfolio', 'jquery.fancybox', 'jquery.fancybox-buttons', 'jquery.fancybox-thumbs', 'hero-equal-thumb-gallery') %>
    <% content_for :javascripts, javascript_include_tag('jquery.isotope.min', 'isotope_custom', 'jquery.mousewheel-3.0.6.pack', 'jquery.fancybox.pack', 'jquery.fancybox-media', 'jquery.fancybox-buttons', 'jquery.fancybox-thumbs', 'fancybox_init') %>


  </div>
</div>
